<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleIdentifier</key>
        <string>org.cocoapods.ffi_lib</string>
        <key>CFBundleName</key>
        <string>ffi_lib</string>
        <key>CFBundleExecutable</key>
        <string>ffi_lib</string>
        <key>CFBundleVersion</key>
        <string>1.0.0</string>
        <key>CFBundlePackageType</key>
        <string>FMWK</string>
    </dict>
</plist>